In [1]:
import pandas as pd

In [2]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}
</style>

# 15 Minutes

In [3]:
test15=pd.read_csv('https://raw.githubusercontent.com/jacobw125/uw-msds-trac-capstone/master/combined_data/15min/test.tsv.gz',
                      sep='\t')
xval15=pd.read_csv('https://raw.githubusercontent.com/jacobw125/uw-msds-trac-capstone/master/combined_data/15min/xval.tsv.gz',
                      sep='\t')

predict_test15=pd.read_csv('https://raw.githubusercontent.com/jacobw125/uw-msds-trac-capstone/master/predictions/final_nn_15min_test.txt',
                   header = None)
predict_xval15=pd.read_csv('https://raw.githubusercontent.com/jacobw125/uw-msds-trac-capstone/master/predictions/final_nn_15min_xval.txt',
                   header=None)

In [4]:
# add predictions column to data frame
test15['ons_predicted'] = predict_test15
xval15['ons_predicted'] = predict_xval15
# create a column for the difference between the actual ons and predicted ons
test15['diff_ons_predicted']=test15['ons']-test15['ons_predicted']
xval15['diff_ons_predicted']=xval15['ons']-xval15['ons_predicted']

In [5]:
test15.columns,xval15.columns

(Index(['opd_date', 'trip_start_hr_15', 'rte', 'dir', 'day_of_week', 'is_ns',
        'is_rapid', 'is_weekend', 'orca_total', 'frac_disabled', 'frac_youth',
        'frac_senior', 'frac_li', 'frac_uw', 'ons', 'region', 'start', 'end',
        'type', 'summer', 'ons_predicted', 'diff_ons_predicted'],
       dtype='object'),
 Index(['opd_date', 'trip_start_hr_15', 'rte', 'dir', 'day_of_week', 'is_ns',
        'is_rapid', 'is_weekend', 'orca_total', 'frac_disabled', 'frac_youth',
        'frac_senior', 'frac_li', 'frac_uw', 'ons', 'region', 'start', 'end',
        'type', 'summer', 'ons_predicted', 'diff_ons_predicted'],
       dtype='object'))

## Test Set

In [6]:
# get mean, standard deviation and variance for ons, predicted ons, and delta between the two
dayofweek15min_test = test15.groupby('day_of_week',as_index=False).agg({'ons':['mean', 'std', 'var'],
                                                              'ons_predicted':['mean', 'std', 'var'],
                                                              'diff_ons_predicted':['mean', 'std', 'var']
                                                             })

dayofweek15min_test

  day_of_week        ons                         ons_predicted             \
                    mean        std          var          mean        std
0           0  40.468165  38.588437  1489.067476     38.652196  34.106834
1           1  42.488744  38.666631  1495.108362     41.244067  35.438085
2           2  42.039490  37.779291  1427.274805     41.005872  34.768939
3           3  42.142857  38.502278  1482.425420     40.443941  34.605928
4           4  39.256628  34.200780  1169.693376     38.593782  31.374548
5           5  27.635888  22.452885   504.132047     26.840200  20.092972
6           6  25.261737  19.147877   366.641176     24.486306  16.849891

               diff_ons_predicted
           var               mean        std         var
0  1163.276121           1.815969  14.092254  198.591629
1  1255.857864           1.244677  12.766090  162.973065
2  1208.879143           1.033617  13.296808  176.805090
3  1197.570283           1.698916  13.937212  194.245871
4   984.362267           0.662846  12.072880  145.754444
5   403.727508           0.795688   8.720172   76.041393
6   283.918815           0.775432   8.004012   64.064205

## Validation Set

In [7]:
# get mean, standard deviation and variance for ons, predicted ons, and delta between the two
dayofweek15min_xval = xval15.groupby('day_of_week',as_index=False).agg({'ons':['mean', 'std', 'var'],
                                                              'ons_predicted':['mean', 'std', 'var'],
                                                              'diff_ons_predicted':['mean', 'std', 'var']
                                                             })

dayofweek15min_xval

  day_of_week        ons                         ons_predicted             \
                    mean        std          var          mean        std
0           0  39.323396  36.336755  1320.359757     37.751759  32.085563
1           1  42.229221  37.855204  1433.016476     40.831043  34.182861
2           2  42.592773  38.918875  1514.678834     41.546785  35.865665
3           3  41.811004  36.490931  1331.588038     40.222889  33.114468
4           4  39.570742  35.177145  1237.431496     38.818520  32.402256
5           5  27.342132  22.220596   493.754885     26.520199  19.662907
6           6  25.120023  19.617985   384.865350     24.322332  17.319469

               diff_ons_predicted
           var               mean        std         var
0  1029.483347           1.571637  13.010384  169.270090
1  1168.468002           1.398178  13.437433  180.564597
2  1286.345945           1.045988  13.765719  189.495028
3  1096.567984           1.588115  13.011190  169.291057
4  1049.906214           0.752222  11.785435  138.896480
5   386.629908           0.821933   8.833582   78.032176
6   299.964004           0.797692   8.038709   64.620838

## Histograms of diff_ons_predicted by day

In [8]:
#test15.diff_ons_predicted[test15['day_of_week'] ==0].hist(bins = 100)

# 30 Minutes

In [9]:
test30=pd.read_csv('https://raw.githubusercontent.com/jacobw125/uw-msds-trac-capstone/master/combined_data/30min/test.tsv.gz',
                      sep='\t')
xval30=pd.read_csv('https://raw.githubusercontent.com/jacobw125/uw-msds-trac-capstone/master/combined_data/30min/xval.tsv.gz',
                      sep='\t')

predict_test30=pd.read_csv('https://raw.githubusercontent.com/jacobw125/uw-msds-trac-capstone/master/predictions/final_nn_30min_test.txt',
                   header=None)
predict_xval30=pd.read_csv('https://raw.githubusercontent.com/jacobw125/uw-msds-trac-capstone/master/predictions/final_nn_30min_xval.txt',
                   header=None)

In [10]:
# add predictions column to data frame
test30['ons_predicted'] = predict_test30
xval30['ons_predicted'] = predict_xval30
# create a column for the difference between the actual ons and predicted ons
test30['diff_ons_predicted']=test30['ons']-test30['ons_predicted']
xval30['diff_ons_predicted']=xval30['ons']-xval30['ons_predicted']

## Test Set

In [11]:
# get mean, standard deviation and variance for ons, predicted ons, and delta between the two
dayofweek30min_test = test30.groupby('day_of_week',as_index=False).agg({'ons':['mean', 'std', 'var'],
                                                              'ons_predicted':['mean', 'std', 'var'],
                                                              'diff_ons_predicted':['mean', 'std', 'var']
                                                             })

dayofweek30min_test

  day_of_week        ons                         ons_predicted             \
                    mean        std          var          mean        std
0           0  51.760563  59.041753  3485.928577     50.026279  55.589602
1           1  55.568264  60.122476  3614.712141     53.203634  56.474465
2           2  55.589107  60.652755  3678.756731     53.938721  57.201974
3           3  54.138324  59.002577  3481.304045     52.976774  56.015637
4           4  51.059792  54.034653  2919.743688     49.498632  51.918812
5           5  31.999146  31.810988  1011.938984     31.391712  29.676012
6           6  29.022102  27.375697   749.428792     28.423410  25.478945

               diff_ons_predicted
           var               mean        std         var
0  3090.203811           1.734285  15.433415  238.190297
1  3189.365234           2.364630  16.779424  281.549071
2  3272.065786           1.650386  16.774721  281.391261
3  3137.751538           1.161550  16.097721  259.136609
4  2695.563003           1.561161  15.282704  233.561037
5   880.665680           0.607434  10.453261  109.270672
6   649.176633           0.598692   9.505229   90.349384

# Validation Set

In [12]:
# get mean, standard deviation and variance for ons, predicted ons, and delta between the two
dayofweek30min_xval = xval30.groupby('day_of_week',as_index=False).agg({'ons':['mean', 'std', 'var'],
                                                              'ons_predicted':['mean', 'std', 'var'],
                                                              'diff_ons_predicted':['mean', 'std', 'var']
                                                             })

dayofweek15min_xval

  day_of_week        ons                         ons_predicted             \
                    mean        std          var          mean        std
0           0  39.323396  36.336755  1320.359757     37.751759  32.085563
1           1  42.229221  37.855204  1433.016476     40.831043  34.182861
2           2  42.592773  38.918875  1514.678834     41.546785  35.865665
3           3  41.811004  36.490931  1331.588038     40.222889  33.114468
4           4  39.570742  35.177145  1237.431496     38.818520  32.402256
5           5  27.342132  22.220596   493.754885     26.520199  19.662907
6           6  25.120023  19.617985   384.865350     24.322332  17.319469

               diff_ons_predicted
           var               mean        std         var
0  1029.483347           1.571637  13.010384  169.270090
1  1168.468002           1.398178  13.437433  180.564597
2  1286.345945           1.045988  13.765719  189.495028
3  1096.567984           1.588115  13.011190  169.291057
4  1049.906214           0.752222  11.785435  138.896480
5   386.629908           0.821933   8.833582   78.032176
6   299.964004           0.797692   8.038709   64.620838

# 1 Hour

In [13]:
testHr=pd.read_csv('https://raw.githubusercontent.com/jacobw125/uw-msds-trac-capstone/master/combined_data/hr/test.tsv.gz',
                      sep='\t')
xvalHr=pd.read_csv('https://raw.githubusercontent.com/jacobw125/uw-msds-trac-capstone/master/combined_data/hr/xval.tsv.gz',
                      sep='\t')

predict_xval_hr=pd.read_csv('https://raw.githubusercontent.com/jacobw125/uw-msds-trac-capstone/master/predictions/final_nn_hr_test.txt',
                   header=None)
predict_xval_hr=pd.read_csv('https://raw.githubusercontent.com/jacobw125/uw-msds-trac-capstone/master/predictions/final_nn_hr_xval.txt',
                   header=None)

In [14]:
# add predictions column to data frame
testHr['ons_predicted'] = predict_test30
xvalHr['ons_predicted'] = predict_xval30
# create a column for the difference between the actual ons and predicted ons
testHr['diff_ons_predicted']=testHr['ons']-testHr['ons_predicted']
xvalHr['diff_ons_predicted']=xvalHr['ons']-xvalHr['ons_predicted']

## Test Set

In [15]:
# get mean, standard deviation and variance for ons, predicted ons, and delta between the two
dayofweekhr_test = test30.groupby('day_of_week',as_index=False).agg({'ons':['mean', 'std', 'var'],
                                                              'ons_predicted':['mean', 'std', 'var'],
                                                              'diff_ons_predicted':['mean', 'std', 'var']
                                                             })

dayofweekhr_test

  day_of_week        ons                         ons_predicted             \
                    mean        std          var          mean        std
0           0  51.760563  59.041753  3485.928577     50.026279  55.589602
1           1  55.568264  60.122476  3614.712141     53.203634  56.474465
2           2  55.589107  60.652755  3678.756731     53.938721  57.201974
3           3  54.138324  59.002577  3481.304045     52.976774  56.015637
4           4  51.059792  54.034653  2919.743688     49.498632  51.918812
5           5  31.999146  31.810988  1011.938984     31.391712  29.676012
6           6  29.022102  27.375697   749.428792     28.423410  25.478945

               diff_ons_predicted
           var               mean        std         var
0  3090.203811           1.734285  15.433415  238.190297
1  3189.365234           2.364630  16.779424  281.549071
2  3272.065786           1.650386  16.774721  281.391261
3  3137.751538           1.161550  16.097721  259.136609
4  2695.563003           1.561161  15.282704  233.561037
5   880.665680           0.607434  10.453261  109.270672
6   649.176633           0.598692   9.505229   90.349384

## Validation Set

In [16]:
# get mean, standard deviation and variance for ons, predicted ons, and delta between the two
dayofweekhr_xval = xval30.groupby('day_of_week',as_index=False).agg({'ons':['mean', 'std', 'var'],
                                                              'ons_predicted':['mean', 'std', 'var'],
                                                              'diff_ons_predicted':['mean', 'std', 'var']
                                                             })

dayofweekhr_xval

  day_of_week        ons                         ons_predicted             \
                    mean        std          var          mean        std
0           0  52.058220  59.842196  3581.088365     50.431751  56.223874
1           1  56.989186  64.842680  4204.573100     54.470591  60.572004
2           2  55.800718  60.695029  3683.886513     54.114564  57.947968
3           3  54.213912  60.249240  3629.970973     53.005480  57.227198
4           4  51.318120  53.531070  2865.575422     49.815025  51.235902
5           5  32.166495  30.970140   959.149592     31.478894  28.496196
6           6  28.882178  27.340694   747.513575     28.306871  24.937691

               diff_ons_predicted
           var               mean        std         var
0  3161.123971           1.626469  17.260251  297.916263
1  3668.967656           2.518595  17.840848  318.295855
2  3357.967006           1.686154  16.019139  256.612826
3  3274.952200           1.208431  16.205982  262.633862
4  2625.117701           1.503095  15.379930  236.542260
5   812.033195           0.687602  10.507327  110.403925
6   621.888451           0.575307   9.675976   93.624520